################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/taskmanager/.vs/taskmanager/v16
/taskmanager/Services/Task.API/obj
/taskmanager/Services/Task.API/bin/Debug/net5.0
/taskmanager/Services/Task.Application/obj
/taskmanager/Services/Task.Domain/obj
/taskmanager/Services/Task.Infrastructure/obj
/taskmanager/Services/Task.Application/bin/Debug/net5.0
/taskmanager/Services/Task.Domain/bin/Debug/net5.0
/taskmanager/Services/Task.Infrastructure/bin/Debug/net5.0
/taskmanager/obj
